.navbar {
  background-color: black;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 8vh;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.8;
  /* padding: none; */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; 
 }
 .booking_page{
  width: 100vw;
  height: 100vh;
  background-color:#1f2125;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: large
 }

.info{
  padding-left: 20px;
  padding-top:0px;
  margin-top:0px
}

.booking_text{
  color: #bc9355;
}
.select_date{
  color: #bc9355;
  /* margin-left: 800px; */
}
.button{
  margin-top: 20px;
}
.barber{
  float:'left'
}
.row{
  margin-top: 50px;
}