
.background_img {
  
  margin-top: 20px;
  background-attachment: fixed;
  background-position: center;
  background-color:#111111; 
  width:100%;
  height:800px;
  color:black;
  font-weight:bold;
  background-repeat: no-repeat;
  animation: myanimation 10s infinite;
}

@keyframes myanimation {
  0% {background-image:url('https://images.unsplash.com/photo-1556755135-7cf10b0101c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');}
  25%{background-image:url('https://images.unsplash.com/photo-1554162404-d2feb0b28d86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');}
  50%{background-image:url('https://images.unsplash.com/photo-1556755134-caec7f9924e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');}
  75%{background-image:url('https://images.unsplash.com/photo-1476419627509-e59980979da4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');}
  100% {background-image:url("https://images.unsplash.com/photo-1532710093739-9470acff878f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");}
}

.centered {
  color: #bc9355;
  position: absolute;
  top: 30%;
  left: 20%;
}
.hairstylists{
  background-color:#1f2125;
}
.hairstylists_text{
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Playfair Display', serif;
  font-size: 80px;
}
.service_polular{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}
.employee{
  font-family: 'Playfair Display', serif;
  font-size: 60px;
}





.slogan {
  position: relative;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #8f816a, #fff, #bc9355);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.slogan2{
  text-align:center;
  /* background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color:#555;
  font-family:'Roboto';
  font-weight:300;
  font-size:32px;
  padding-top:40vh;
  height:100vh; */
  font-size: 25px;
  
  font-family: 'Playfair Display', serif;
  font-weight:700;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

.slogan2_1{
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}
.slogan2_1:first-of-type {    /* For increasing performance 
  ID/Class should've been used. 
  For a small demo 
  it's okaish for now */
animation: showup 7s infinite;
}
.slogan2_1:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}
.slogan2_1:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}
@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:0;}
}

@keyframes slidein {
  0% { margin-left:-800px; }
  20% { margin-left:-800px; }
  35% { margin-left:0px; }
  100% { margin-left:0px; }
}

@keyframes reveal {
  0% {opacity:0;width:0px;}
  20% {opacity:1;width:0px;}
  30% {width:355px;}
  80% {opacity:1;}
  100% {opacity:0;width:355px;}
}